<div class="container p-4">
	<div class="row" style="margin-bottom: 15px; background-color: white; border-radius: 10px;">
		<div class="col-md-6">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 3.1%; background-color: white;">
					<li class="breadcrumb-item"><a href="/profile">INICIO</a></li>
					<li class="breadcrumb-item"><a href="/trainings">CAPACITACIONES</a></li>
					<li class="breadcrumb-item active" aria-current="page">AGREGAR CAPACITACION</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>