<div style="padding-top: 2.2%; padding-bottom: 1%;">
	<div class="row" style="margin-left: 0.9%; margin-right: 0.9%; margin-bottom: 15px; background-color: white; border-radius: 10px;">
		<div class="col-md-8">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb" style="margin-top: 2.2%; background-color: white;">
					<li class="breadcrumb-item active" aria-current="page">INICIO</li>
				</ol>
			</nav>
		</div>
		<div class="col-md-4" style="padding-top: 2.0%;">
			<a href="/workers" class="btn btn-secondary" style="margin-left: 3%;">TRABAJADORES</a>
			<a href="/trainings" class="btn btn-secondary">CAPACITACIONES</a>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
	</div>
</div>